[Unit]
Description=Minecraft server backup purge service
Wants=backup-purge.timer

[Service]
Type=oneshot
ExecStart=/opt/backup-manager/backup-purge
User=backup-manager
EnvironmentFile=/opt/backup-manager/env.conf

StandardOutput=journal
StandardError=journal

# Some daemon restrictions
LockPersonality=yes
NoNewPrivileges=true
PrivateMounts=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target