[Unit]
Description=Minecraft server backup creation service
Wants=backup-create.timer

[Service]
Type=oneshot
ExecStart=/opt/backup-manager/backup-create
User=root
EnvironmentFile=/opt/backup-manager/env.conf

StandardOutput=journal
StandardError=journal

# Some daemon restrictions
LockPersonality=yes
NoNewPrivileges=true
PrivateMounts=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
PrivateTmp=yes
ProtectSystem=full
InaccessiblePaths=/boot
ReadOnlyPaths=/home /opt /data

[Install]
WantedBy=multi-user.target