[Unit]
Description=Minecraft server backup creation service
Wants=backup-create.timer

[Service]
Type=oneshot
ExecStart=/opt/backup-manager/backup-create {{storage_account_name}} {{storage_container_name}} {{identity_client_id}}
User=root

StandardOutput=journal
StandardError=journal

# Some daemon restrictions
LockPersonality=yes
NoNewPrivileges=true
PrivateMounts=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target