[Unit]
Description=Minecraft Modded Server
After=getty.service

[Service]
ExecStart=docker run                                                                                       \
		--rm -p "0.0.0.0:{{server_port}}:25565"                                                            \
		--name minecraft-modded                                                                                   \
		--interactive                                                                                      \
		--mount "type=bind,src=/data/minecraft-modded/world,dst=/server/world"                             \
		--mount "type=bind,src=/data/minecraft-modded/logs,dst=/server/logs"                               \
		--mount "type=bind,src=/data/minecraft-modded/banned-ips.json,dst=/server/banned-ips.json"         \
		--mount "type=bind,src=/data/minecraft-modded/banned-players.json,dst=/server/banned-players.json" \
		--mount "type=bind,src=/data/minecraft-modded/ops.json,dst=/server/ops.json"                       \
		--mount "type=bind,src=/data/minecraft-modded/usercache.json,dst=/server/usercache.json"           \
		--mount "type=bind,src=/data/minecraft-modded/whitelist.json,dst=/server/whitelist.json"           \
		minecraft-modded:latest

ExecStop=docker stop minecraft-modded
ExecReload=docker restart minecraft-modded

Sockets=minecraft-modded.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal

Type=simple
RemainAfterExit=false

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target