[Unit]
Description=WebServer
After=getty.service

[Service]
ExecStart=docker run --rm -p "0.0.0.0:80:3000" --name website website:latest
ExecStop=docker stop website
ExecReload=docker restart website

StandardOutput=journal
StandardError=journal

Type=simple
RemainAfterExit=false

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target