[Unit]
Description=WebServer
After=getty.service

[Service]
ExecStart=python3 -m http.server 3000 --directory /www/website --bind 0.0.0.0
WorkingDirectory=/www/website
User=webserver

StandardOutput=journal
StandardError=journal

Type=simple
RemainAfterExit=false

Restart=always
RestartSec=10s

# Some daemon restrictions
LockPersonality=yes
NoNewPrivileges=true
PrivateMounts=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service @sandbox

[Install]
WantedBy=multi-user.target