[Unit]
Description=WebServer
After=getty.service

[Service]
ExecStart=docker run --rm               \
            --publish "0.0.0.0:80:3000" \
            --mount type=bind,source=/data/website/mods.tar.gz,target=/app/mods.tar.gz,readonly \
            --name website              \
            website:latest
ExecStop=docker stop website
ExecReload=docker restart website

StandardOutput=journal
StandardError=journal

Type=simple
RemainAfterExit=false

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target